%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title Student Home

  %div.panel-body
    = render 'partials/account_information.html.haml'
    %h4 Scenarios
    %table.table
      %thead
        %tr
          %th Name
          %th Status
          %th Instructor
          %th Actions
      %tbody
        - @scenarios.each do |scenario|
          %tr
            %td= scenario.name
            %td= scenario.status
            %td= scenario.user.name
            %td
              %div.btn-group.btn-group-xs
                = link_to 'Show', student_scenario_path(scenario), class: 'btn btn-default'
