= render('partials/account_information_panel')
%br
%div.card.card-default
  %div.card-header
    %div.card-title
      %h4 Scenarios
  %table.table
    %thead
      %tr
        %th Name
        %th Status
        %th Instructor
        %th Actions
    %tbody
      - if @scenarios.size > 0
        - @scenarios.each do |scenario|
          %tr
            %td= scenario.name
            %td= scenario.status
            %td= scenario.user.name
            %td
              %div.btn-group.btn-group-xs
                = link_to 'Show', student_scenario_path(scenario), class: 'btn btn-primary'
      - else
        %tr
          %td{colspan: 4}
            There are no scenarios
