= render 'admin/modals/create_instructor'
= render 'student_groups/modals/create'
= render 'student_groups/modals/add_users'
= render 'partials/account_information_panel'
= render 'partials/student_groups_panel'


//= render 'test_modal'
%div.p-3
%div.card.card-default
  %div.card-header
    %h3.card-title AWS Settings
  %div.card-body
    - if not @aws_vpc_cnt
      %div.failure
        FAILED TO VALIDATE CREDENTIALS
    = render 'admin/aws_settings.html.haml'

%div.p-3
%div.card.card-default
  %div.card-header
    %h3.card-title
      Users
  %div.card-body
    %label Registration Code:
    %dl
      = current_user.registration_code
    %p

    %hr

      %div
        Instructors:
      %div
        //:data => {:toggle=>"modal"}
      %span.float-right= link_to '+ create instructor',"#modal-create-instructor", :data => {:toggle=> "modal", target: '#modal-create-instructor'}, |
              onclick: "$('#modal-create-instructor').find('#email').val('');" +                  |
                       "$('#modal-create-instructor').find('#name').val('');" +                   |
                       "$('#modal-create-instructor').find('#organization').val('');"             |
      %span
        %table.table#instructors-table
          %tr
            %th Name
            %th Email
            %th Organization
            %th
          - @instructors.each do |user|
            = render 'instructor', user: user

      %label
        Students:
        = link_to 'expand/collapse', '#students-table',
            data: { toggle: 'collapse', target: '#students-table-collapse' }

      %dl
        %div.collapse.in#students-table-collapse
          = form_tag '#', method: :post, remote: true, class: 'form-inline', id: 'students-table-form' do
            = hidden_field_tag 'action', value: 'delete'
            %table.table#students-table
              %tr
                %td
                  = link_to 'all', "javascript:void(0)",
                    onclick: "$('#students-table input:checkbox').prop('checked', true);"
                  = link_to 'none', "javascript:void(0)",
                    onclick: "$('#students-table input:checkbox').prop('checked', false);"
                %th Name
                %th Email
                %th Organization
                %th
              - @students.each do |user|
                = render 'student', user: user
              %tr#foot
                %td{ colspan: "5" }
                  = link_to 'all', "javascript:void(0)",
                    onclick: "$('#students-table input:checkbox').prop('checked', true);"
                  = link_to 'none', "javascript:void(0)",
                    onclick: "$('#students-table input:checkbox').prop('checked', false);"
                  %b with selected:
                  = (link_to 'add to all', "javascript:void(0);",
                    onclick: "$('#students-table-form').attr('action', '#{admin_student_add_to_all_path}');$('#students-table-form').submit();") + ','
                  = link_to('delete', "javascript:void(0);", remote: true, method: :post,
                    onclick: "$('#students-table-form').attr('action', '#{admin_user_delete_path}');$('#students-table-form').submit();",
                    :data => { :confirm => "Are you sure you want to delete all selected students?" })
