= render 'admin/modals/create_instructor'
= render 'student_groups/modals/create'
= render 'student_groups/modals/add_users'

= render 'partials/account_information_panel'

%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title AWS Settings
  %div.panel-body
    - if not @aws_vpc_cnt
      %div.failure
        FAILED TO VALIDATE CREDENTIALS
    = render 'admin/aws_settings.html.haml'

= render 'partials/student_groups_panel'

%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title
      Instructors
    %div.btn-group.pull-right
      = link_to 'Create Instructor', "#modal-create-instructor", :data => {:toggle=>"modal"},
          class: 'btn btn-default', |
          onclick: "$('#modal-create-instructor').find('#email').val('');" +                  |
                   "$('#modal-create-instructor').find('#name').val('');" +                   |
                   "$('#modal-create-instructor').find('#organization').val('');"             |
  %table.table#instructors-table
    %thead
      %tr
        %th Name
        %th Email
        %th Organization
        %th
    %tbody
      - @instructors.each do |user|
        = render 'instructor', user: user

%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title Students
  = form_tag '#', method: :post, remote: true, class: 'form-inline', id: 'students-table-form' do
    = hidden_field_tag 'action', value: 'delete'
    %table.table#students-table
      %thead
        %tr
          %th
            = link_to 'all', "javascript:void(0)",
              onclick: "$('#students-table input:checkbox').prop('checked', true);"
            = link_to 'none', "javascript:void(0)",
              onclick: "$('#students-table input:checkbox').prop('checked', false);"
          %th Name
          %th Email
          %th Organization
          %th
      %tbody
        - @students.each do |user|
          = render 'student', user: user
      %tfoot
        %tr
          %td{ colspan: "5" }
            = link_to 'all', "javascript:void(0)",
              onclick: "$('#students-table input:checkbox').prop('checked', true);"
            = link_to 'none', "javascript:void(0)",
              onclick: "$('#students-table input:checkbox').prop('checked', false);"
            %b with selected:
            = (link_to 'add to all', "javascript:void(0);",
              onclick: "$('#students-table-form').attr('action', '#{admin_student_add_to_all_path}');$('#students-table-form').submit();") + ','
            = link_to('delete', "javascript:void(0);", remote: true, method: :post,
              onclick: "$('#students-table-form').attr('action', '#{admin_user_delete_path}');$('#students-table-form').submit();",
              :data => { :confirm => "Are you sure you want to delete all selected students?" })
