- if defined? current_user
  %label Account Information: 
  %div.row
    %div.col-sm-6
      %b Name:
      = current_user.name
      %br
      %b Email:
      = current_user.email
      %br
      %b Password:
      ********
      %br
      = link_to 'edit', edit_user_registration_path
    %div.col-sm-6
      %b Last Sign In:
      = current_user.last_sign_in_at
      %br
      %b From:
      = current_user.last_sign_in_ip
