#modal-scenario-destroy.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-header
    %div.modal-content
      %h4.modal-title.inline#title
        Changes have been made to the Scenario. Are you sure you want to destroy?
      %div.modal-body.inline#modalbody

      %div.modal-footer
        = submit_tag "Destroy", :class => 'btn btn-danger'
        %button.btn.btn-primary{"data-dismiss" => "modal"}
          Cancel
%br
%div.card
  %h3.card-header.card-title.text-center
    Scenarios
  %div.card-body
    = form_with(method: 'get', class: 'checkbox-inline') do |f|
      %div.container-fluid
        %fieldset.form-group
          - Scenario.statuses.each do |status, value|
            = f.label nil, class: 'checkbox-inline'
            = f.check_box :status, {multiple: true, checked: @selected_statuses.include?(status)}, status, false
            = status
        .d-inline.mx-auto
        .form-group.float-left
          = button_tag(type: 'submit', class: 'btn btn-secondary') do
            %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/c87346ab54.js"}
            %i.fas.fa-filter
            Filter
        .form-group.text-center
          = link_to 'Load New Scenario', new_scenario_path, class: 'btn btn-primary'
  %br
  %table.table
    %thead
      %tr
        %th Name
        %th Date Created
        %th Status
        - if current_user.is_admin?
          %th Instructor
        %th Actions
    %tbody
      - if @scenarios.size > 0
        - @scenarios.each do |scenario|
          %tr
            %td= scenario.name
            %td= scenario.created_at
            %td= render('scenario_status', scenario: scenario)
            - if current_user.is_admin?
              - if scenario.user
                %td= scenario.user.name
              - else
                %td.text-muted None
            %td
              = render('actions', scenario: scenario)
      - else
        %tr
          %td{colspan: (current_user.is_admin? ? 5 : 4)}
            There are no scenarios
