%div.modal#modal-scenario-destroy{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Changes have been made to the Scenario
      %div.modal-body.inline#modalbody

      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Cancel

%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title
      Scenarios

  %div.panel-body
    = form_with(method: 'get', class: 'form-inline') do |f|
      %fieldset.form-group
        - Scenario.statuses.each do |status, value|
          = f.label nil, class: 'checkbox-inline' do
            = f.check_box :status, {multiple: true, checked: @selected_statuses.include?(status)}, status, false
            = status
      .pull-right
        .form-group
          = button_tag(type: 'submit', class: 'btn btn-default') do
            = render('icon', name: 'filter')
            Filter
        .form-group
          = link_to 'Load New Scenario', new_scenario_path, class: 'btn btn-default'
  %table.table
    %thead
      %tr
        %th Name
        %th Date Created
        %th Status
        - if current_user.is_admin?
          %th Instructor
        %th Actions
    %tbody
      - if @scenarios.size > 0
        - @scenarios.each do |scenario|
          %tr
            %td= scenario.name
            %td= scenario.created_at
            %td= render('scenario_status', scenario: scenario)
            - if current_user.is_admin?
              - if scenario.user
                %td= scenario.user.name
              - else
                %td.text-muted None
            %td
              = render('actions', scenario: scenario)
      - else
        %tr
          %td{colspan: (current_user.is_admin? ? 5 : 4)}
            There are no scenarios
