.card
  .card-header.nav.nav-pills
    %li
      %h4.card-title#scenario-new-title
        New Scenario
  %table.table
    %thead
      %tr
        %th Name
        %th Description
        %th Actions
    %tbody
      - if @templates.empty?
        %tr
          %td{ colspan: 3 } None
      - else
        - @templates.each do |template|
          %tr
            %td= template.name
            %td= template.description
            %td
              = simple_form_for(template) do |f|
                .btn-group
                  = f.button :submit, 'Create', class: 'btn btn-primary'
                  = f.hidden_field :name,     value: template.name
                  = f.hidden_field :location, value: template.location
