.card-body
  %dl.dl-horizontal
    %dt Description
    %dd=  @scenario.description || 'N/A'

    %dt Status
    %dd
      = render('scenario_status', scenario: @scenario)
    %dt Actions
    %dd= render('actions', scenario: @scenario)

    %dt Created by
    %dd= @scenario.user.name

    %dt Created at
    %dd= @scenario.created_at

    %dt Instructor Instructions
    %dd= @scenario.instructions || 'N/A'

    %dt Student Instructions
    %dd= @scenario.instructions_student
