= render 'student_groups/modals/create'
= render 'student_groups/modals/add_users'

= render 'partials/account_information_panel'

-# = render 'partials/users_panels'
= render 'partials/student_groups_panel'

%br
%div.card
  %div.card-header
    %h4.card-title
      My Scenarios
  %div.card-body
    - if @players.size == 0
      %dl
        none
    - @players.each do |player|
      %dl
        - if scenario = Scenario.find(player.group.scenario_id)
          %label= scenario.name
          %dl
            %b.inline login:
            = player.login
            %br
            %b.inline password:
            = player.password
            %br
            %b.iniline instructions:
            = scenario.instructions
            %br
