// %button.btn.btn-primary{ type: 'button' } Export
= link_to('Export', analytics_commands_path(params.slice(:scenario_id, :player_login, :instance_name).merge(format: :csv)), class: 'btn btn-primary', type: 'text/csv', download: 'commands.csv')

%table.table
  %thead
    %tr
      %th Time
      %th Scenario
      %th Instance
      %th Player
      %th Command
  %tbody
    - if @commands.empty?
      %tr.no-data
        %td{colspan: 5} No Records
    - else
      - @commands.each do |record|
        %tr
          %td= record.performed_at
          %td= link_to(record.scenario.name, scenario_path(record.scenario))
          %td= record.instance.name
          %td= record.player.login
          %td= record.command
