// Scenario
#modal-scenario-destroy.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h3.modal-title.inline#title
          Changes have been made to the Scenario
      %div.modal-body.inline#modalbody
      %div.modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal"}
          Cancel
// Group


#modal-group-player-add.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h3.modal-title.inline#title
          Add Player:
          %span#group-name
      %div.modal-body#modalbody
        = form_tag group_player_add_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'group_id'
          %div#login-div
            = label_tag nil, "Login:", class: 'control-label'
            = text_field_tag "login", nil, class: 'form-control'
            %span.help-block.inline#login-help
          %p
          %div#password-div
            = label_tag nil, "Password:", class: 'control-label'
            = text_field_tag "password", nil, class: 'form-control'
            %span.help-block.inline#password-help
          %p
          %div.modal-footer
            %div#help-div
            %span.help-block#help-help
            = submit_tag "Submit", :class => 'btn btn-primary'
            %button.btn.btn-danger{"data-dismiss" => "modal"}
              Close

#modal-group-student-group-add.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h3.modal-title.inline#title
          Add Student Group:
          %span#group-name
      %div.modal-body#modalbody
        = form_tag group_student_group_add_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'group_id'
          %div#student-group-div
            = label_tag nil, "Student Group:"
            = select_tag "name", options_for_select(current_user.student_groups.pluck(:name)), class: 'form-control'
            %span.help-block.inline#student-group-div-help
          %p
          %div.modal-footer
            %div#help-div
            %span.help-block#help-help
            = submit_tag "Submit", :class => 'btn btn-primary'
            %button.btn.btn-danger{"data-dismiss" => "modal"}
              Close

#modal-group-student-group-remove.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h3.modal-title.inline#title
          Remove Student Group
          %span#group-name
      %div.modal-body#modalbody
        = form_tag group_student_group_remove_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'group_id'
          %div#student-group-div
            = label_tag nil, "Student Group:"
            = select_tag "name", options_for_select(current_user.student_groups.pluck(:name)), class: 'form-control'
            %span.help-block.inline#student-group-div-help
            %div.modal-footer
              %div#help-div
              %span.help-block#help-help
              = submit_tag "Submit", :class => 'btn btn-primary'
              %button.btn.btn-danger{"data-dismiss" => "modal"}
                Close
// Scoring
#modal-scoring-question-add.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", "data-backdrop" => "static" }
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Question:
          %span#role-name
      %div.modal-body#modalbody
        = form_tag scoring_question_add_scenario_path(@scenario), remote:true, method: :post, id: 'form' do
          = label_tag "Type:"
          = select_tag "type", options_for_select(Question::TYPES, "String"), class: "form-control", onchange: "scoring_question_modal_set_options('modal-scoring-question-add', null);"
          %br
          = label_tag "Type Options:"
          %br

          - Question::OPTIONS_STRING.each do |option|
            %div{ id: "option-#{option}-div" }
              = check_box_tag 'string_options[]', option, false, id: "option-#{option}"
              = option.gsub('-', ' ')

          - Question::OPTIONS_NUMBER.each do |option|
            %div{ id: "option-#{option}-div" }
              = check_box_tag 'number_options[]', option, false, id: "option-#{option}"
              = option.gsub('-', ' ')

          - Question::OPTIONS_ESSAY.each do |option|
            %div{ id: "option-#{option}-div" }
              = check_box_tag 'essay_options[]', option, false, id: "option-#{option}"
              = option.gsub('-', ' ')

          %div#options-div
            %span.help-block#options-help

          = label_tag "General Options:"
          %br

          %br
          %div#text-div
            = label_tag "Text:"
            = text_area_tag "text", nil, class: 'form-control', style: "height: 100px;"
            %span.help-block#text-help
          %br

          %div#values-header-div
            = label_tag "Values:"
            = link_to 'add', "#modal-scoring-question-value-add", :data => {:toggle=>"modal"}, onclick: "scoring_question_modal_add_value_setup('modal-scoring-question-add');", class: 'btn btn-default'
            %dl
              %div#values-div
                %span.help-block#values-help

          %div#points-div
            = label_tag "Points:"
            = text_field_tag "points", nil, class: 'form-control'
            %span.help-block#points-help

          %p

          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

#modal-scoring-question-modify.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", "data-backdrop" => "static" }
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify Qeustion:
          %span
      %div.modal-body#modalbody
        = form_tag scoring_question_modify_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'question_id'

          = label_tag "Type:"
          = select_tag "type", options_for_select(Question::TYPES, "String"), class: "form-control", onchange: "scoring_question_modal_set_options('modal-scoring-question-modify');"
          %br
          = label_tag "Options:"
          %br

          - Question::OPTIONS_STRING.each do |option|
            %div{ id: "option-#{option}-div" }
              = check_box_tag 'string_options[]', option, false, id: "option-#{option}"
              = option.gsub('-', ' ')

          - Question::OPTIONS_NUMBER.each do |option|
            %div{ id: "option-#{option}-div" }
              = check_box_tag 'number_options[]', option, false, id: "option-#{option}"
              = option.gsub('-', ' ')

          - Question::OPTIONS_ESSAY.each do |option|
            %div{ id: "option-#{option}-div" }
              = check_box_tag 'essay_options[]', option, false, id: "option-#{option}"
              = option.gsub('-', ' ')

          %div#options-div
            %span.help-block#options-help

          %br
          %div#text-div
            = label_tag "Text:"
            = text_area_tag "text", nil, class: 'form-control', style: "height: 100px;"
            %span.help-block#text-help
          %br

          %div#values-header-div
            = label_tag "Values:"
            = link_to 'add', "#modal-scoring-question-value-add", :data => {:toggle=>"modal"}, onclick: "scoring_question_modal_add_value_setup('modal-scoring-question-modify');", class: 'btn btn-default', id: 'value-add-button'
            %dl
              %div#values-div
                %span.help-block#values-help

          %div#points-div
            = label_tag "Points:"
            = text_field_tag "points", nil, class: 'form-control'
            %span.help-block#points-help
          %p

          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

#modal-scoring-question-value-add.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Value:
          %span
      %div.modal-body#modalbody
        %div#value-div
          = label_tag "Value:"
          = text_field_tag "value", nil, class: 'form-control'
          %div.help-block#value-help
        / %div#special-div
        /   = label_tag "Special:"
        /   = text_field_tag "special", nil, class: 'form-control'
        /   %div.help-block#special-help
        %div#points-div
          = label_tag "Points:"
          = text_field_tag "points", nil, class: 'form-control'
          %div.help-block#points-help
        %br
        = submit_tag "Submit", :class => 'btn btn-default', onclick: 'scoring_question_modal_add_value()', id: 'submit-button'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

#modal-scoring-answer-essay-show.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Essay Answer:
        %br
        %span#info
      %div.modal-body#modalbody

      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

#modal-scoring-answer-comment.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", "data-backdrop" => "static" }
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Comment Answer:
        %br
        %b student:
        %span#student-name
        %br
        %b question:
        %span#question-index
        %br
        %b answer:
        %span#answer-index
      %div.modal-body#modalbody
        = form_tag scoring_answer_comment_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'answer_id'
          %div#comment-div
            = text_area_tag "comment", nil, class: 'form-control', style: "height: 300px;"
            %span.help-block#comment-help
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

#modal-scoring-answer-comment-show.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Essay Answer:
        %br
        %b student:
        %span#student-name
        %br
        %b question:
        %span#question-index
        %br
        %b answer:
        %span#answer-index
      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

#modal-scoring-answer-comment-edit.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Essay Answer:
        %br
        %b student:
        %span#student-name
        %br
        %b question:
        %span#question-index
        %br
        %b answer:
        %span#answer-index
      %div.modal-body#modalbody
        = form_tag scoring_answer_comment_edit_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'answer_id'
          %div#comment-div
            = text_area_tag "comment", nil, class: 'form-control', style: "height: 300px;"
            %span.help-block#comment-help
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

#modal-scoring-answer-essay-grade.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Grade Answer:
        %p
        %b student:
        %span#student-name
        %br
        %b question:
        %span#question-index
        %br
        %b answer:
        %span#answer-index
      %div.modal-body#modalbody
        = form_tag scoring_answer_essay_grade_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'answer_id'
          %div#points-div
            = label_tag 'Points: '
            = text_field_tag "points", nil, class: 'form-control'
            %span.help-block#points-help
          %div#points-div
            = label_tag 'Possible: '
            %span#points-possible
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

#modal-scoring-answer-essay-grade-edit.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Grade Answer:
        %p
        %b student:
        %span#student-name
        %br
        %b question:
        %span#question-index
        %br
        %b answer:
        %span#answer-index
      %div.modal-body#modalbody
        = form_tag scoring_answer_essay_grade_edit_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'answer_id'
          %div#points-div
            = label_tag 'Points: '
            = text_field_tag "points", nil, class: 'form-control'
            %span.help-block#points-help
          %div#points-div
            = label_tag 'Possible: '
            %span#points-possible
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

//Log
#modal-log.modal.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h3.modal-title.inline#title
          = "#{@scenario.name}: boot log"
          %span#modal-log-name

      %div.modal-body#modalbody
      %div.modal-footer
        %div#help-div
        %span.help-block#help-help
        %button.btn.btn-danger{"data-dismiss" => "modal"}
          Close
