- content_for :main do
  %div.modal#modal-essay-answer-show{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    %div.modal-dialog
      %div.modal-content
        %div.modal-header
          %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
            &times;
          %h3.modal-title.inline#title
            Essay Answer
        %div.modal-body#modalbody
        %div.modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal"}
            Close
  %div.modal#modal-scoring-answer-comment-show{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    %div.modal-dialog
      %div.modal-content
        %div.modal-header
          %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
            &times;
          %h3.modal-title.inline#title
            Essay Answer:
          %br
          %b student:
          %span#student-name
          %br
          %b question:
          %span#question-index
          %br
          %b answer:
          %span#answer-index
        %div.modal-body#modalbody
        %div.modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal"}
            Close
  %div.card.card-default
    %div.card-body
      %h3.card-header
        %h4.card-title#scenario-name=@scenario.name
        .nav.nav-tabs
          .nav-item.nav-link{class: ('active' if request.path == student_scenario_path(@scenario))}= link_to('Scenario', student_scenario_path(@scenario))
          .nav-item.nav-link{class: ('active' if request.path == student_scenario_guide_path(@scenario))}= link_to('Guide', student_scenario_guide_path(@scenario) )
          .nav-item.nav-link{class: ('active' if request.path == student_scenario_commands_path)}= link_to('Command History', student_scenario_commands_path(@scenario))
      %div.indent.card-body
        = yield
  = render template: 'layouts/application'
